body {
}

#music-player {
  height: 100vh;
  width: 100vw;
}

#music-player .card {
  width: 20rem;
  overflow: hidden;
}

#music-player .card-img-background {
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.2);
}

#music-player .card-title, #music-player .card-text {
  text-shadow: 1px 1px rgba(255, 255, 255, 0.2);
}

#music-player > .card >.card-body {
  backdrop-filter: blur(20px) saturate(1.5) brightness(0.75);
  background-color: rgba(255,255,255,.1);
}

#music-player .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#music-player .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: white;
  cursor: pointer;
}

#music-player .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: whitw;
  cursor: pointer;
}

#music-player .btn-play-pause {
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  font-size: 1.4rem;
  border-width: 0.25rem;
  box-sizing: content-box;
  border-color: white;
}

#music-player .btn-prev, #music-player .btn-next {
  font-size: '1.4rem';
}